.block {
  background-color: #fcfaf6;
  border-radius: 20px;
  padding: 28px 32px;
  box-shadow: none;
}

:global(.dark) .block {
  background-color: #292524;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: center;
  color: #3e3d3a;
}

:global(.dark) .title {
  color: #e7e5e4;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: #fff;
  border: 1px solid #eeeae4;
  border-radius: 12px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: inherit;
  font-size: 15px;
  font-weight: 500;
  color: #3e3d3a;
  transition: 0.2s;
}

:global(.dark) .btn {
  background: #44403c;
  border-color: #57534e;
  color: #e7e5e4;
}

.btn:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.04);
  transform: translateY(-2px);
}

.icon::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.vk::before {
  background-image: url('/images/icon-vk.svg');
}

.ok::before {
  background-image: url('/images/icon-ok.png');
}

.max::before {
  background-image: url('/images/icon-max.png');
}

@media (--max-md) {
  .block {
    padding: 20px 24px;
  }
  .btn > span:last-child {
    display: none;
  }
}
