.headerTop {
  height: 184px;
  display: block;
  width: 100%;
  background: url('/images/header-top.png') no-repeat calc(50% - 20px) 0;
}

.headerBottom {
  height: 100px;
  display: block;
  width: 100%;
  background: url('/images/header-bottom.png') no-repeat calc(50% - 20px) 0;
}

.logo {
  width: 116px;
  height: 116px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.bar {
  position: sticky;
  top: 0;
  background: var(--color-background);
  z-index: 100;
}

.barContainer {
  position: relative;
}

.barContainer::before {
  content: '';
  border-top: 1px dashed var(--header-nav-border-color);
  border-bottom: 1px dashed var(--header-nav-border-color);
  z-index: 1;
  pointer-events: none;
  padding-top: 1px;
  transition: all 0.3s ease-out;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.barContainer::after {
  content: '';
  border-top: 1px dashed var(--header-nav-border-color);
  border-bottom: 1px dashed var(--header-nav-border-color);
  z-index: 1;
  pointer-events: none;
  padding-top: 1px;
  transition: all 0.3s ease-out;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 116px;
  width: 100%;
  align-self: stretch;
  min-height: 64px;
}

.menu {
  justify-content: space-around;
  display: flex;
}

.menu li {
  position: relative;
  display: flex;
}

.menu li a {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: inherit;
  position: relative;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

@media (--below-lg) {
  .menu li a {
    font-size: 14px;
  }
}

.menu li a:hover {
  color: #d36d6d;
}

.menu li a span {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border-radius: 12px;
  transition: background 150ms ease-out;
}

.menu li a:hover span {
  background: var(--muted);
}

.menu li:hover .menuSub {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0);
  box-shadow:
    rgb(0 0 0 / 2%) 0px -5.9px 2.7px,
    rgb(0 0 0 / 2%) 0px -1.2px 6.9px,
    rgb(0 0 0 / 3%) 0px 8px 14.2px,
    rgb(0 0 0 / 4%) 0px 21.9px 29.2px,
    rgb(0 0 0 / 7%) 0px 49px 80px;
}

.menuSub {
  display: grid;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -10px);
  width: max-content;
  min-width: 240px;
  box-sizing: border-box;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 8px;
  padding: 0.75rem 1rem;
  background: var(--popover);
  color: var(--popover-foreground);
  border-radius: 6px;
  box-shadow:
    rgb(0 0 0 / 2%) 0px -2.95px 1.35px,
    rgb(0 0 0 / 2%) 0px -0.6px 3.45px,
    rgb(0 0 0 / 3%) 0px 4px 7.1px,
    rgb(0 0 0 / 4%) 0px 10.95px 14.6px,
    rgb(0 0 0 / 7%) 0px 24.5px 40px;
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
    transform 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
    box-shadow 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
    visibility 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.menuSub li a {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 0.6rem;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
  color: var(--popover-foreground);
  position: relative;
  white-space: nowrap;
  transition: background 150ms ease-out;
}

.menuSub li a:hover {
  background: var(--muted);
  color: #d36d6d;
}

.buttons {
  position: absolute;
  top: calc(1rem - 184px);
  display: flex;
  align-items: center;
  gap: 16px;
}

.buttonsLeft {
  left: 1rem;
}

.buttonsRight {
  right: 1rem;
}

.button {
  font-size: 18px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}

.button:hover {
  opacity: 1;
}

.slogan {
  border-top: 4px dotted var(--slogan-border-top-color);
  text-align: center;
  color: var(--slogan-color);
  text-transform: uppercase;
  letter-spacing: 12px;
  text-indent: 12px;
  z-index: 20;
  white-space: nowrap;
  padding-top: 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  transition: border-top-color .3s ease-out, color .3s ease-out;
  position: absolute;
  top: calc(100% + 40px);
  left: 50%;
  transform: translateX(-50%);
}
